#root {
  max-width: 1280px;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;

  /* padding: 2rem; */
  /* text-align: center; */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}



.card-img-top{
  transition: 0.3s ease-out;

}

/* .card-img-top:hover{
  height: 180px;
  transition: 0.3s ease-out;

} */

.image-main{
  width: 100%;

}

.screenshots{
  display: flex;
  max-height: 10rem;
  flex-direction: row;
  overflow-x: scroll;
}

.screenshots img{
  width: 15rem;
  margin: 1rem;
  object-fit: contain;
}

.login{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card{
  padding: 5em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.game-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}


/* .card::after{
  position: absolute;
  content: '';
  background: rgba(255, 255, 255, 0.2) url('./assets//star.png');
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 30px;
  right:0;
  height: 100%;

} */

.game-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap:1rem;
}

.card{
  width: 100%;
  min-height:20rem ;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: relative;
  margin: 0.5rem;
  transition: 0.2s ease-in;
}




.read-the-docs {
  color: #888;
}

.footer{
  padding: 0.4rem;
  text-align: center;
  transition: 0.2s ease-out;
}

.footer:hover{
 background-color: black;
 color: white;
}

.footer a{
  text-decoration: none;
  color: inherit;
}